<a href="https://colab.research.google.com/github/itssyoma/BigDataBaratov/blob/main/%D0%9B%D0%A01_%D0%9C%D0%B0%D0%BD%D0%B8%D0%BF%D1%83%D0%BB%D1%8F%D1%86%D0%B8%D0%B8_%D1%81_%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практическая работа №1
# Тема: Манипуляции с табличными данными <br>
**Дисциплина:** «Информационные технологии и программирование» <br>
**Выполнил:** Студент группы ПИЖ-б-о-22-1, направление подготовки: 09.03.04 «Программная инженерия»
Баратов Семен Григорьевич

# Постановка задачи

**Цель работы:** изучение основных способов обработки табличных данных и создания запросов к ним с помощью модуля `pandas`.

**Краткое описание:** в лабораторной работе представлено 8 заданий на сортировку, фильтрацию и группировку данных методами модуля `pandas`. Первые 4 задания являются обязательными. Из оставшихся 4 необходимо выполнить любые два на выбор обучающегося.

# Данные

В папке [Data/lab1](https://drive.google.com/drive/folders/1RxzrWKQC5zqStrKE_3TB9C3Hqzqf-7aJ?usp=share_link) расположено несколько таблиц с обезличенными транзакционными банковскими данными. Все задания лабораторной работы необходимо выполнять по этим данным.

### Таблица ```transactions.csv```
##### **Описание**
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### **Формат данных**

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### **Описание полей**

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком:
  - ```+``` — начисление средств клиенту (приходная транзакция);
  - ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала.

 ### Таблица ```gender_train.csv```

##### **Описание**
Таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### **Формат данных**
```
customer_id,gender
111111,0
111112,1
...
```

##### **Описание полей**
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента.

### Таблица ```tr_mcc_codes.csv```

##### **Описание**
Таблица содержит описание mcc-кодов транзакций.

##### **Формат данных**
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### **Описание полей**
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### **Описание**
Таблица содержит описание типов транзакций.

##### **Формат данных**
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### **Описание полей**
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции.

# Практические задания

In [ ]:
import pandas as pd
import numpy as np

## Подготовка

Загрузите и прочитайте данные из таблиц в переменные **tr_mcc_codes, tr_types** и **gender_train** из одноименных таблиц.

Выведите размеры таблиц и случайные строки из них.

In [ ]:
transactions = pd.read_csv('transactions.csv')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv('tr_types.csv', sep=';')

print("Размеры таблиц:")
print(f"transactions: {transactions.shape}")
print(f"tr_types: {tr_types.shape}")
print(f"gender_train: {gender_train.shape}")
print(f"tr_mcc_codes: {tr_mcc_codes.shape}")
print(f"tr_types: {tr_types.shape}")

print("\nСлучайные строки из transactions:")
print(transactions.sample(3))
print("\nСлучайные строки из gender_train:")
print(gender_train.sample(3))
print("\nСлучайные строки из tr_mcc_codes:")
print(tr_mcc_codes.sample(3))
print("\nСлучайные строки из tr_types:")
print(tr_types.sample(3))

Размеры таблиц:
transactions: (6849346, 6)
tr_types: (155, 2)
gender_train: (8400, 2)
tr_mcc_codes: (184, 2)
tr_types: (155, 2)

Случайные строки из transactions:
         customer_id   tr_datetime  mcc_code  tr_type     amount term_id
2918406     35101936   88 23:36:53      6011     4010   -4469.37     NaN
6294817     34604158  155 00:00:00      5681     1110 -606397.26     NaN
1140170     68312764  118 08:37:16      5411     1010   -1845.47     NaN

Случайные строки из gender_train:
      customer_id  gender
180      41666340       1
8312     43568986       0
5917     12646472       1

Случайные строки из tr_mcc_codes:
     mcc_code                        mcc_description
107      5950  Магазины хрусталя и изделий из стекла
54       5331                 Универсальные магазины
22       4829                      Денежные переводы

Случайные строки из tr_types:
    tr_type                                     tr_description
63     7081  Перевод/пополнение со счета на карту через УС ...
84     1410                                                н/д
68     7101  Межфилиальные перечисления процентов по счету ...

Задания 1–4 нужно выполнить без использования функции `merge` и аналогичных по назначению.


>Допускается для таблицы **transactions** использование не всех записей. При чтении файлов обратите внимание на разделители внутри каждого из файлов – они могут различаться!

## Задание 1

1. Для столбца `tr_type` датафрейма `transactions` выберите произвольные `1000` строк с помощью метода `sample()`.
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец `tr_description` в датафрейме `tr_types`), в которой содержится подстрока `'POS'` или `'ATM'`.

In [ ]:
sample_tr_types = transactions['tr_type'].sample(1000, random_state=42)

tr_types_dict = dict(zip(tr_types['tr_type'], tr_types['tr_description']))

def contains_pos_atm(tr_type):
    description = tr_types_dict.get(tr_type, '')
    return 'POS' in description or 'ATM' in description

matches = sample_tr_types.apply(contains_pos_atm)
proportion = matches.mean()

print(f"Доля транзакций, содержащих 'POS' или 'ATM': {proportion:.4f} ({proportion*100:.2f}%)")

Доля транзакций, содержащих 'POS' или 'ATM': 0.3760 (37.60%)

## Задание 2

1. Для столбца `tr_type` датафрейма `transactions` посчитайте частоту встречаемости всех типов транзакций `tr_type` в `transactions`.
2. Выведите датафрейм, содержащий топ-10 транзакций, отсортированных по убыванию частоты встречаемости. Датафрейм должен содержать столбцы `tr_type`, `tr_description` и столбец с частотой встречаемости.

In [ ]:
tr_type_counts = transactions['tr_type'].value_counts().reset_index()
tr_type_counts.columns = ['tr_type', 'frequency']

top_10_tr_types = tr_type_counts.head(10)
if 'tr_types' in globals() or 'tr_types' in locals():
    # Проверяем, есть ли нужные столбцы в tr_types
    if all(col in tr_types.columns for col in ['tr_type', 'tr_description']):
        top_10_with_desc = top_10_tr_types.merge(tr_types[['tr_type', 'tr_description']],
                                                 on='tr_type',
                                                 how='left')
        print("Топ-10 транзакций по частоте:")
        print(top_10_with_desc[['tr_type', 'tr_description', 'frequency']])
    else:
        print("В tr_types отсутствуют необходимые столбцы 'tr_type' и/или 'tr_description'")
        print("Выводим только типы транзакций:")
        print(top_10_tr_types[['tr_type', 'frequency']])
else:
    print("DataFrame tr_types не найден")
    print("Выводим только типы транзакций:")
    print(top_10_tr_types[['tr_type', 'frequency']])

Топ-10 транзакций по частоте:
   tr_type                                     tr_description  frequency
0     1010                              Покупка. POS ТУ СБ РФ    1589734
1     2010              Выдача наличных в АТМ Сбербанк России    1040713
2     1030                     Оплата услуги. Банкоматы СБ РФ     970994
3     1110                             Покупка. POS ТУ Россия     928154
4     7070  Перевод на карту (с карты) через Мобильный бан...     691896
5     2370  Списание с карты на карту по операции <перевод...     376521
6     7010       Взнос наличных через АТМ (в своем тер.банке)     258088
7     7030  Перевод на карту (с карты) через АТМ (в предел...     155200
8     1100                                Покупка. ТУ  Россия     117870
9     7071  Перевод на карту (с карты) через Мобильный бан...      96146

## Задание 3
1. В датафрейме `transactions` найдите клиента с максимальной суммой приходов на карту.
2. В датафрейме `transactions` найдите клиента с максимальной суммой расходов по карте.
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов.

In [ ]:
incomes = transactions[transactions['amount'] > 0].copy()
expenses = transactions[transactions['amount'] < 0].copy()
expenses['amount'] = expenses['amount'].abs()

income_by_customer = incomes.groupby('customer_id')['amount'].sum()
expense_by_customer = expenses.groupby('customer_id')['amount'].sum()

max_income_customer = income_by_customer.idxmax()
max_income_amount = income_by_customer.max()

max_expense_customer = expense_by_customer.idxmax()
max_expense_amount = expense_by_customer.max()

income_of_max_income_customer = max_income_amount
expense_of_max_income_customer = expense_by_customer.get(max_income_customer, 0)

income_of_max_expense_customer = income_by_customer.get(max_expense_customer, 0)
expense_of_max_expense_customer = max_expense_amount

diff_max_income = abs(expense_of_max_income_customer - income_of_max_income_customer)
diff_max_expense = abs(expense_of_max_expense_customer - income_of_max_expense_customer)

print("=" * 60)
print("Клиент с максимальной суммой ПРИХОДОВ на карту:")
print(f"  customer_id: {max_income_customer}")
print(f"  Сумма приходов: {income_of_max_income_customer:,.2f}")
print(f"  Сумма расходов: {expense_of_max_income_customer:,.2f}")
print(f"  Модуль разницы (|расходы - приходы|): {diff_max_income:,.2f}")
print()

print("Клиент с максимальной суммой РАСХОДОВ по карте:")
print(f"  customer_id: {max_expense_customer}")
print(f"  Сумма приходов: {income_of_max_expense_customer:,.2f}")
print(f"  Сумма расходов: {expense_of_max_expense_customer:,.2f}")
print(f"  Модуль разницы (|расходы - приходы|): {diff_max_expense:,.2f}")
print("=" * 60)

if max_income_customer == max_expense_customer:
    print(f"Примечание: Это один и тот же клиент ({max_income_customer})")
    print(f"Общий баланс (приходы - расходы): {income_of_max_income_customer - expense_of_max_income_customer:,.2f}")

============================================================
Клиент с максимальной суммой ПРИХОДОВ на карту:
  customer_id: 48281795
  Сумма приходов: 8,542,244,401.49
  Сумма расходов: 8,541,879,253.05
  Модуль разницы (|расходы - приходы|): 365,148.44

Клиент с максимальной суммой РАСХОДОВ по карте:
  customer_id: 48281795
  Сумма приходов: 8,542,244,401.49
  Сумма расходов: 8,541,879,253.05
  Модуль разницы (|расходы - приходы|): 365,148.44
============================================================
Примечание: Это один и тот же клиент (48281795)
Общий баланс (приходы - расходы): 365,148.44

## Задание 4
1. Найдите среднее арифметическое и медиану по столбцу `amount` для каждого типа транзакций из топ-10 в Задании 2.
1. Найдите среднее арифметическое и медиану по столбцу `amount` для каждого типа транзакций, совершенных клиентами из Задания 3.

In [ ]:
top_10_types_list = top_10_with_desc['tr_type'].tolist()
top_10_stats = transactions[transactions['tr_type'].isin(top_10_types_list)].groupby('tr_type')['amount'].agg(['mean', 'median']).reset_index()

print("Статистики по топ-10 типам транзакций:")
print(top_10_stats.merge(tr_types, on='tr_type', how='left')[['tr_type', 'tr_description', 'mean', 'median']])

customers_from_task3 = [max_income_customer, max_expense_customer]
customer_stats = transactions[transactions['customer_id'].isin(customers_from_task3)].groupby(['customer_id', 'tr_type'])['amount'].agg(['mean', 'median']).reset_index()

print("\nСтатистики для клиентов из Задания 3:")
print(customer_stats.merge(tr_types, on='tr_type', how='left')[['customer_id', 'tr_type', 'tr_description', 'mean', 'median']])

Статистики по топ-10 типам транзакций:
   tr_type                                     tr_description           mean  \
0     1010                              Покупка. POS ТУ СБ РФ  -17056.263411
1     1030                     Оплата услуги. Банкоматы СБ РФ   -4700.005100
2     1100                                Покупка. ТУ  Россия  -39390.923622
3     1110                             Покупка. POS ТУ Россия  -26676.998508
4     2010              Выдача наличных в АТМ Сбербанк России -135584.063351
5     2370  Списание с карты на карту по операции <перевод... -197634.813726
6     7010       Взнос наличных через АТМ (в своем тер.банке)  259527.366684
7     7030  Перевод на карту (с карты) через АТМ (в предел...  135919.508463
8     7070  Перевод на карту (с карты) через Мобильный бан...  100736.485505
9     7071  Перевод на карту (с карты) через Мобильный бан...  137771.552874

     median
0  -6733.26
1  -2245.92
2  -8983.66
3  -9365.47
4 -44918.32
5 -43795.36
6  93205.50
7  22459.16
8  14284.02
9  32341.19

Статистики для клиентов из Задания 3:
    customer_id  tr_type                                     tr_description  \
0      48281795     1030                     Оплата услуги. Банкоматы СБ РФ
1      48281795     2011      Выдача наличных в АТМ Сбербанка (в других ТБ)
2      48281795     2330  Списание с карты по операции “перевода с карты...
3      48281795     2331  Списание с карты по операции “перевода с карты...
4      48281795     2370  Списание с карты на карту по операции <перевод...
5      48281795     4031  Плата за взнос наличных через АТМ (в другом те...
6      48281795     4051  Плата за перевод на карту (с карты) через АТМ ...
7      48281795     7011                           Взнос наличных через АТМ
8      48281795     7030  Перевод на карту (с карты) через АТМ (в предел...
9      48281795     7070  Перевод на карту (с карты) через Мобильный бан...
10     48281795     7074  Перевод с карты на карту в овердрафте через Мо...

            mean        median
0  -6.737745e+03 -6.737745e+03
1  -4.239080e+06 -4.491832e+06
2  -6.737747e+06 -6.737747e+06
3  -4.786795e+06 -4.734390e+06
4  -1.470826e+07 -1.122958e+07
5  -1.684000e+01 -1.684000e+01
6  -2.245916e+04 -2.245916e+04
7   1.684998e+06  1.684437e+06
8   4.321784e+06  4.491832e+06
9   1.475677e+07  1.122958e+07
10  9.810191e+06  1.122958e+07

## Подготовка для заданий 5–8

>**Из заданий 5-8 нужно выполнить два любых на выбор.**

Соедините датафрейм `transactions` со всеми остальными таблицами (`tr_mcc_codes`, `tr_types`, `gender_train`). Причем объединение с таблицей `gender_train` необходимо выполнить с помощью `left join`, а с оставшимися датафреймами – через `inner`.
После получения общей таблицы `gender_train`, `tr_types` и `tr_mcc_codes` можно удалить. В результате соединения датафреймов должно получиться `999584` строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(6846580, 9)

In [ ]:
transactions = pd.read_csv('transactions.csv')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv('tr_types.csv', sep=';')

print("Размер transactions до объединения:", transactions.shape)
print("Размер gender_train:", gender_train.shape)

transactions_merged = pd.merge(transactions, gender_train, on='customer_id', how='left')
print("После left join с gender_train:", transactions_merged.shape)
print("Столбцы:", transactions_merged.columns.tolist())

print("\nКоличество NaN в столбце gender:", transactions_merged['gender'].isna().sum())
print("Уникальные значения gender:", transactions_merged['gender'].unique())

transactions_merged = pd.merge(transactions_merged, tr_mcc_codes, on='mcc_code', how='inner')
print("После inner join с tr_mcc_codes:", transactions_merged.shape)

transactions_merged = pd.merge(transactions_merged, tr_types, on='tr_type', how='inner')
print("После inner join с tr_types:", transactions_merged.shape)

print("Итоговые столбцы:", transactions_merged.columns.tolist())

Размер transactions до объединения: (6849346, 6)
Размер gender_train: (8400, 2)
После left join с gender_train: (6849346, 7)
Столбцы: ['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id', 'gender']

Количество NaN в столбце gender: 3098263
Уникальные значения gender: [ 1. nan  0.]
После inner join с tr_mcc_codes: (6849346, 8)
После inner join с tr_types: (6846580, 9)
Итоговые столбцы: ['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id', 'gender', 'mcc_description', 'tr_description']

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата – отрицательное значение в столбце `amount`).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин.

>Обратите внимание, что для вычисления модуля разности не требуется точных знаний о том,
каким значением в таблице обозначены мужчины, а каким – женщины.

In [ ]:
df = transactions_merged.copy()

df_g = df.dropna(subset=['gender']).copy()

mean_spend = df_g.loc[df_g['amount'] < 0].groupby('gender')['amount'].mean()

mean_income = df_g.loc[df_g['amount'] > 0].groupby('gender')['amount'].mean()

spend_diff = abs(mean_spend.max() - mean_spend.min())
income_diff = abs(mean_income.max() - mean_income.min())

print("Средние траты по полу (amount < 0):")
print(mean_spend)
print("\nМодуль разницы средних трат:", spend_diff)

print("\nСредние поступления по полу (amount > 0):")
print(mean_income)
print("\nМодуль разницы средних поступлений:", income_diff)

Средние траты по полу (amount < 0):
gender
0.0   -51838.079256
1.0   -76586.117566
Name: amount, dtype: float64

Модуль разницы средних трат: 24748.03831067319

Средние поступления по полу (amount > 0):
gender
0.0    143017.996405
1.0    208102.170325
Name: amount, dtype: float64

Модуль разницы средних поступлений: 65084.17392010853

## Задание 6

1. Для каждого типа транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу `amount`) отдельно для мужчин и женщин (назовите ее `max_income`). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям `max_income`.
2. Среди типов транзакций, найденных в пункте 1, выделите те, которые встречаются одновременно и у мужчин, и у женщин.

In [ ]:
df = transactions_merged.copy()
df_g = df.dropna(subset=['gender']).copy()

# Только приходы
pos = df_g[df_g['amount'] > 0].copy()

# max_income по (gender, tr_type)
max_income = (
    pos.groupby(['gender', 'tr_type'])['amount']
       .max()
       .reset_index(name='max_income')
)

# 10 наименьших типов по max_income для каждого пола
bottom10_by_gender = (
    max_income.sort_values(['gender', 'max_income'], ascending=[True, True])
              .groupby('gender')
              .head(10)
)

# Добавим описание типа
bottom10_by_gender = bottom10_by_gender.merge(
    df_g[['tr_type', 'tr_description']].drop_duplicates('tr_type'),
    on='tr_type',
    how='left'
)

print("10 типов транзакций с наименьшим max_income отдельно по полу:")
print(bottom10_by_gender.sort_values(['gender', 'max_income']))

# Типы, которые встречаются и у мужчин, и у женщин среди найденных bottom-10
sets = bottom10_by_gender.groupby('gender')['tr_type'].apply(set).to_dict()

common_types = set.intersection(*sets.values()) if len(sets) >= 2 else set()
common_df = bottom10_by_gender[bottom10_by_gender['tr_type'].isin(common_types)] \
            .sort_values(['tr_type', 'gender'])

print("\nТипы, которые встречаются одновременно у обоих полов (в этих bottom-10 списках):")
print(common_df if not common_df.empty else "Пересечений нет.")

10 типов транзакций с наименьшим max_income отдельно по полу:
    gender  tr_type  max_income  \
0      0.0     4011       50.53
1      0.0     4021      592.70
2      0.0     4071     1010.66
3      0.0     4051     1122.96
4      0.0     4110     4469.37
5      0.0     4100     5041.86
6      0.0     4210     5246.91
7      0.0     2011     6737.75
8      0.0     8146    14823.04
9      0.0     1030    31128.39
10     1.0     4051      381.81
11     1.0     4071      673.77
12     1.0     4500     2245.92
13     1.0     4110     3144.28
14     1.0     4210     4166.17
15     1.0     4010     4469.37
16     1.0     4100     5220.63
17     1.0     8146    22459.16
18     1.0     2331    38180.57
19     1.0     1410    44918.32

                                       tr_description
0   Плата за получение наличных в АТМ Сбербанка (в...
1   Плата за получение наличных через POS в Сберба...
2   Плата за перевод на карту (с карты) через Моби...
3   Плата за перевод на карту (с карты) через АТМ ...
4           Плата за получение наличных в АТМ. Россия
5                 Плата за получение наличных. Россия
6         Плата за получение наличных в АТМ. Зарубеж.
7       Выдача наличных в АТМ Сбербанка (в других ТБ)
8                                                 н/д
9                      Оплата услуги. Банкоматы СБ РФ
10  Плата за перевод на карту (с карты) через АТМ ...
11  Плата за перевод на карту (с карты) через Моби...
12                             Плата за превыш.лимита
13          Плата за получение наличных в АТМ. Россия
14        Плата за получение наличных в АТМ. Зарубеж.
15        Плата за получение наличных в АТМ Сбербанка
16                Плата за получение наличных. Россия
17                                                н/д
18  Списание с карты по операции “перевода с карты...
19                                                н/д

Типы, которые встречаются одновременно у обоих полов (в этих bottom-10 списках):
    gender  tr_type  max_income  \
3      0.0     4051     1122.96
10     1.0     4051      381.81
2      0.0     4071     1010.66
11     1.0     4071      673.77
5      0.0     4100     5041.86
16     1.0     4100     5220.63
4      0.0     4110     4469.37
13     1.0     4110     3144.28
6      0.0     4210     5246.91
14     1.0     4210     4166.17
8      0.0     8146    14823.04
17     1.0     8146    22459.16

                                       tr_description
3   Плата за перевод на карту (с карты) через АТМ ...
10  Плата за перевод на карту (с карты) через АТМ ...
2   Плата за перевод на карту (с карты) через Моби...
11  Плата за перевод на карту (с карты) через Моби...
5                 Плата за получение наличных. Россия
16                Плата за получение наличных. Россия
4           Плата за получение наличных в АТМ. Россия
13          Плата за получение наличных в АТМ. Россия
6         Плата за получение наличных в АТМ. Зарубеж.
14        Плата за получение наличных в АТМ. Зарубеж.
8                                                 н/д
17                                                н/д

## Задание 7

1. Найдите суммы затрат по каждой категории (`mcc`) для мужчин и для женщин.
2. Найдите топ-10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc-кодов).

In [ ]:
df = transactions_merged.copy()
df_g = df.dropna(subset=['gender']).copy()

# Только траты (отрицательные)
sp = df_g[df_g['amount'] < 0].copy()

# Сумма трат по mcc и полу (сумма будет отрицательная — оставляем как есть)
mcc_spend = (
    sp.groupby(['mcc_code', 'mcc_description', 'gender'])['amount']
      .sum()
      .reset_index()
)

# Пивот: отдельно суммы для полов
pivot = mcc_spend.pivot_table(
    index=['mcc_code', 'mcc_description'],
    columns='gender',
    values='amount',
    aggfunc='sum',
    fill_value=0
)

# Убедимся, что есть ровно две колонки полов (обычно 0 и 1)
cols = list(pivot.columns)
if len(cols) < 2:
    print("Недостаточно групп по полу для сравнения (нужны минимум 2 значения gender).")
else:
    g0, g1 = cols[0], cols[1]
    a = pivot[g0]
    b = pivot[g1]

    # Относительный модуль разности:
    # abs(a-b) / (abs(a)+abs(b))  (устойчиво, не зависит от знака, 0..1)
    denom = (a.abs() + b.abs()).replace(0, np.nan)
    pivot['rel_abs_diff'] = (a - b).abs() / denom

    top10 = pivot.sort_values('rel_abs_diff', ascending=False).head(10).reset_index()
    top10 = top10[['mcc_code', 'mcc_description', g0, g1, 'rel_abs_diff']]

    print("Топ-10 MCC с наибольшими относительными модулями разности трат по полу:")
    print(top10)

Топ-10 MCC с наибольшими относительными модулями разности трат по полу:
gender  mcc_code                                    mcc_description  \
0           9211  Судовые выплаты, включая алименты и детскую по...
1           5940              Веломагазины — продажа и обслуживание
2           5968         Прямой маркетинг — торговые точки подписки
3           7531  Станции технического обслуживания для автомоби...
4           8699  Организации, членства, нигде ранее не классифи...
5           8398  Организации благотворительные и общественные с...
6           1731                        Подрядчики по электричеству
7           8220  Колледжи, университеты, профессиональные школы...
8           5072  Оборудование и сопутствующие материалы для тех...
9           3351                    Агентства по аренде автомобилей

gender         0.0           1.0  rel_abs_diff
0       -822005.23  0.000000e+00      1.000000
1       -996629.84 -2.130268e+08      0.990687
2      -2025786.61 -3.207309e+08      0.987447
3       -105816.32 -3.814060e+06      0.946010
4       -886099.99 -1.884804e+07      0.910196
5      -2364535.67 -3.999312e+07      0.888354
6        -92037.63 -1.394321e+06      0.876157
7      -2003326.80 -2.859048e+07      0.869037
8       -427597.68 -4.741835e+06      0.834567
9      -1092837.91 -1.190515e+07      0.831845

## Задание 8

1. Из поля `tr_datetime` выделите час `tr_hour`, в который произошла транзакция, как первые 2 цифры до `":"`.
2. Посчитайте количество транзакций со значением в столбце `amount` строго меньше `0` в ночное время для мужчин и женщин. Ночное время – это промежуток с 00:00 по 06:00 часов.

In [ ]:
df = transactions_merged.copy()
df_g = df.dropna(subset=['gender']).copy()

# tr_datetime выглядит как "88 23:36:53" -> берем часть после пробела, затем первые 2 цифры до ":"
time_part = df_g['tr_datetime'].astype(str).str.split(' ', n=1).str[1]
df_g['tr_hour'] = pd.to_numeric(time_part.str.slice(0, 2), errors='coerce')

# Ночь: 00:00–06:00 (часы 0..6 включительно)
night = df_g[(df_g['amount'] < 0) & (df_g['tr_hour'].between(0, 6, inclusive='both'))]

cnt = night.groupby('gender').size().reset_index(name='night_negative_tr_count')

print("Количество ночных трат (amount < 0) по полу (00:00–06:00):")
print(cnt)

Количество ночных трат (amount < 0) по полу (00:00–06:00):
   gender  night_negative_tr_count
0     0.0                   305542
1     1.0                   335928

# Порядок защиты работы

**Для защиты работы необходимо:**
1. Предоставить результаты выполнения 6 заданий в виде ссылки на Google Colab.
2. Выполнить дополнительное задание в процессе сдачи работы. Дополнительное задание представляет собой запрос к данным лабораторной работы, по сложности аналогичный тем, что требовалось выполнить в рамках работы.

**Примеры дополнительных заданий:**
1. Найдите категорию транзакций, в которой совершается больше всего трат в ночное время (промежуток с 00:00 по 06:00). Выведите название категории и среднюю сумму трат в ней.
2. Найдите 3 категории транзакций, в которых средние траты мужчин и женщин различаются меньше всего.
3. Найдите терминал, через который проходит наибольшее число транзакций. Выведите идентификаторы 5 пользователей с наибольшей суммой отрицательных транзакций в этом терминале.

Выполнение дополнительного задания: Найдите категорию (MCC), в которой совершается больше всего трат в ночное время (00:00–06:00). Выведите название категории и среднюю сумму трат в ней.

In [ ]:
df = transactions_merged.copy()

time_part = df['tr_datetime'].astype(str).str.split(' ', n=1).str[1]
df['tr_hour'] = pd.to_numeric(time_part.str.slice(0, 2), errors='coerce')

# Ночные траты: amount < 0 и 00:00–06:00
night_spend = df[(df['amount'] < 0) & (df['tr_hour'].between(0, 6, inclusive='both'))].copy()

# Группировка по категории MCC: считаем кол-во трат и средний чек (сумма будет отрицательная)
mcc_night_stats = (
    night_spend.groupby(['mcc_code', 'mcc_description'])['amount']
    .agg(night_spend_count='size', mean_night_spend='mean', total_night_spend='sum')
    .reset_index()
)

# Категория, где БОЛЬШЕ ВСЕГО трат (по количеству транзакций)
top_mcc = mcc_night_stats.sort_values('night_spend_count', ascending=False).head(1)

print("Категория с наибольшим числом ночных трат (00:00–06:00):")
display(top_mcc)

Категория с наибольшим числом ночных трат (00:00–06:00):

,mcc_code,mcc_description,night_spend_count,mean_night_spend,total_night_spend
56,5411,"Бакалейные магазины, супермаркеты",254563,-16515.769019,-4.204304e+09

# Примечание

Рекомендуется выполнение заданий двумя способами – с помощью `pandas` и с помощью `SQL` с использованием модуля `sqlite3`.

# Дополнительные материалы

1. Pandas. User Guide [Электронный ресурс]. URL: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html (дата обращения: 14.03.2024).
2. МакКинни, У. Python и анализ данных [Текст] / У. МакКинни ; пер. с англ. Слинкиной А. А. — Москва : ДМК-Пресс, 2023. — 536 с.
3. Хейдт, М. Изучаем pandas [Текст] / М. Хейдт. — Москва : ДМК Пресс, 2019. — 700 с.